<!-- about-section 
			================================================== -->
            <section id="about-section">
                <div class="container">
                    <div class="title-section">
                        <h1>Mobile Notary Signing Agent</h1>
                        <span></span>
                        <p>I am a reliable and dependable NNA Certified Signing Agent, commissioned in the State of Texas. Currently, I am serving Collin, Dallas and Denton counties and will travel to other counties as needed. I hold an E&O insurance, am bonded and background screened. I look forward to assisting you with your notary needs.</p>
                    </div>
    
                    <div class="about-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-post">
                                    <a href="#"><i class="fa fa-id-card-o"></i></a>
                                    <h2>Identity Verification</h2>
                                    <!-- <p>I will use your identification documents to verify your identity, make sure that you’re acting of your own free will, and that you understand what is happening.</p> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-post">
                                    <a href="#"><i class="fa fa-folder-open"></i></a>
                                    <h2>Document Examination</h2>
                                    <!-- <p>I will review your documents to verify if they conform to state requirements and that items like dates and names are correct.</p> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-post">
                                    <a href="#"><i class="fa fa-car"></i></a>
                                    <h2>Mobile Notary Services</h2>
                                    <!-- <p>I will keep a record of the notarization, complete the notarial certificate, and affix my seal.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- End about section -->