		<!-- contact-section 
			================================================== -->
            <section id="contact-section">
                <!-- <div id="map"></div> -->
                <div class="contact-info-box">
                    <div class="container">
                        <div class="title-section">
                            <h1>Contact Info</h1>
                            <span></span>
                            
                        </div>
                        <div class="contact-box">
                            <div class="row">
    
                                <div class="col-md-6">
                                    <form id="contact-form">
                                        <h2>Leave a Reply</h2>
                                        <input name="name" id="name" type="text" placeholder="Name">
                                        <input name="mail" id="mail" type="text" placeholder="Your e-mail">
                                        <input name="website" id="website" type="text" placeholder="Website">
                                        <textarea name="comment" id="comment" placeholder="Message"></textarea>
                                        <button type="submit" name="contact-submit" id="submit_contact">
                                            Send Message
                                        </button>
                                        <div id="msg" class="message"></div>
                                    </form>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="contact-info">
                                        <h2>Contact Info</h2>
                                        <ul class="contact-list">
                                            <li>
                                                <span><i class="fa fa-phone"></i></span>
                                                <p><a href="tel:+19724995186">+1 (972) 499-5186</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-envelope-o"></i></span>
                                                <p><a href="mailto:janice@notaryj.com">janice@notaryj.com</a></p>
                                            </li>
                                        </ul>
                                        <a href="https://www.nationalnotary.org/info/choose-nsa" target="_blank" rel="noopener noreferrer"><img src="images/nsa-trained-logo.png" alt="Trained Notary Signing Agent" width="100" height="100" border="0" title="Trained Notary Signing Agent"></a>
                                        <a href="https://direct.sos.state.tx.us/notaries/NotarySearch.asp" target="_blank" rel="noopener noreferrer"><img src="images/notary-logo.jpg" alt="Commissioned Notary Public" width="80" height="80" border="0" title="Commissioned Notary Public"></a> 
                                        <p>Texas Commission #131034753</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
            </section>
            <!-- End contact section -->