<!-- portfolio-section 
			================================================== -->
            <section id="portfolio-section">
                <div class="container">
                    <div class="title-section">
                        <h1>some of our best works</h1>
                        <span></span>
                        <p>we have more than 120 items in our portfolio, here are some of the most amazings</p>
                    </div>
    
    
                    <ul class="filter">
                        <li><a href="#" class="active" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".design">Design</a></li>
                        <li><a href="#" data-filter=".photography">Photography</a></li>
                        <li><a href="#" data-filter=".illustration">Illustration</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                        <li><a href="#" data-filter=".logo">Logo</a></li>
                    </ul>
    
                    <div class="portfolio-box iso-call">
                        <div class="project-item branding logo">
                            <img src="upload/portfolio/1.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Branding, Logo</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item design">
                            <img src="upload/portfolio/2.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item illustration">
                            <img src="upload/portfolio/3.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Illustration</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item design branding">
                            <img src="upload/portfolio/4.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Design, Branding</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item photography">
                            <img src="upload/portfolio/5.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Photography</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item illustration logo">
                            <img src="upload/portfolio/6.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Illustration, Logo</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item branding logo">
                            <img src="upload/portfolio/7.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Branding, Logo</p>
                                </div>
                            </div>
                        </div>
                        <div class="project-item design photography">
                            <img src="upload/portfolio/8.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <h2><a href="single-project.html">Single Project Item</a></h2>
                                    <span></span>
                                    <p>Photography, Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-button">
                        <a href="#" class="default-button load-post-container" data-load="posts-container.html" data-number="3">Load More</a>
                    </div>
                </div>
            </section>
            <!-- End portfolio section -->