	<!-- services-section 
			================================================== -->
            <section id="services-section">
                <div class="container">
                    <div class="title-section">
                        <h1>Services</h1>
                        <span></span>
                    </div>
    
                    <div class="services-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-post">
                                    <a href="#"><i class="fa icon_house"></i></a>
                                    <h2>Real Estate</h2>
                                    <p>Closing on a new home? Let me help by verifying the signers, witnessing and notarizing signatures.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-post right-post">
                                    <a href="#"><i class="fa fa-car"></i></a>
                                    <h2>Vehicle Title Transfers</h2>
                                    <p>Whether you're selling a car, truck or boat, get it notarized so that you're legally allowed to transfer the title.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-post">
                                    <a href="#"><i class="fa fa-money"></i></a>
                                    <h2>Financial Services</h2>
                                    <p>I am well-versed in handling loan documents, with experience working with both regional and national mortgage lenders.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-post right-post">
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <h2>Family Matters</h2>
                                    <p>Adoptions, birth certificates, living trusts, wills, medical documents and retirement accounts and more.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="services-post">
                                    <a href="#"><i class="fa fa-briefcase"></i></a>
                                    <h2>Loan Signing</h2>
                                    <p>I am well-versed in handling loan documents, with experience working with both regional and national mortgage lenders</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-post right-post">
                                    <a href="#"><i class="fa fa-building"></i></a>
                                    <h2>Bail Bonds</h2>
                                    <p>Duis aute irure dolor sint occaecat cupidatat non proident, sunt in culpa
                                    qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
    
                </div>
            </section>
            <!-- End services section -->