<!-- team-section 
			================================================== -->
            <section id="team-section">
                <div class="container">
                    <div class="title-section">
                        <h1>meet our professional team</h1>
                        <span></span>
                        <p>We are Best Team in the World that bring your Ideas to life.</p>
                    </div>
    
                    <div class="team-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-post">
                                    <div class="team-gal">
                                        <img src="upload/others/mem1.jpg" alt="">
                                        <div class="hover-box">
                                            <a href="#" class="default-button" data-toggle="modal" data-target="#mem1Modal">Details</a>
                                        </div>
                                    </div>
                                    <h2>John Doe</h2>
                                    <p>Web Developer</p>
    
                                    <!-- Mem1 Modal -->
                                    <div class="modal fade" id="mem1Modal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <img src="upload/others/mem1a.jpg" alt="">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h2>John Doe</h2>
                                                            <span>Web Developer</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. </p>
    
                                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                            cillum dolore eu fugiat nulla pariatur.</p>
    
                                                            <h3>Social Icons</h3>
                                                            <ul class="social-list">
                                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            </ul>		
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mem1 Modal -->
    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-post">
                                    <div class="team-gal">
                                        <img src="upload/others/mem2.jpg" alt="">
                                        <div class="hover-box">
                                            <a href="#" class="default-button" data-toggle="modal" data-target="#mem2Modal">Details</a>
                                        </div>
                                    </div>
                                    <h2>Michael Smith</h2>
                                    <p>Web Designer</p>
    
                                    <!-- Mem2 Modal -->
                                    <div class="modal fade" id="mem2Modal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <img src="upload/others/mem2a.jpg" alt="">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h2>Michael Smith</h2>
                                                            <span>Web Designer</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. </p>
    
                                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                            cillum dolore eu fugiat nulla pariatur.</p>
    
                                                            <h3>Social Icons</h3>
                                                            <ul class="social-list">
                                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            </ul>		
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mem2 Modal -->
    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-post">
                                    <div class="team-gal">
                                        <img src="upload/others/mem3.jpg" alt="">
                                        <div class="hover-box">
                                            <a href="#" class="default-button" data-toggle="modal" data-target="#mem3Modal">Details</a>
                                        </div>
                                    </div>
                                    <h2>Sara Gomez</h2>
                                    <p>Marketing Specialist</p>
    
                                    <!-- Mem3 Modal -->
                                    <div class="modal fade" id="mem3Modal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <img src="upload/others/mem3a.jpg" alt="">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h2>Sara Gomez</h2>
                                                            <span>Marketing Specialist</span>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. </p>
    
                                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                            cillum dolore eu fugiat nulla pariatur.</p>
    
                                                            <h3>Social Icons</h3>
                                                            <ul class="social-list">
                                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            </ul>		
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mem3 Modal -->
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- End team section -->