<!-- tweets-section 
			================================================== -->
            <section class="tweets-section">
                <div class="container">
    
                    <div class="tweets-box">
    
                        <p><i class="fa fa-twitter"></i></p>
    
                        <div class="owl-wrapper">
                            <div class="owl-carousel" data-num="1">
                            
                                <div class="item">
                                    <div class="tweet-post">
                                        <h1>Created couple new skins <a href="#">http://t.co/ubl3HWNexC</a></h1>
                                        <span>-  Gred Binner  11 minutes ago  -</span>
                                    </div>
                                </div>
                            
                                <div class="item">
                                    <div class="tweet-post">
                                        <h1>Nullam fermentum nisl diam <a href="#">http://t.co/ubl3HWNexC</a></h1>
                                        <span>-  Nunforest  14 minutes ago  -</span>
                                    </div>
                                </div>
                            
                                <div class="item">
                                    <div class="tweet-post">
                                        <h1>faucibus justo aliquam <a href="#">http://t.co/ubl3HWNexC</a></h1>
                                        <span>-  Quan Ngyen  53 minutes ago  -</span>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
            <!-- End tweets section -->